* {
background-image: url(https://media.istockphoto.com/id/1406278672/photo/tie-dye-shibori-seamless-pattern-watercolour-abstract-texture-close-up.jpg?s=612x612&w=0&k=20&c=Xls11mL_s747qEAv6P_E47SMPkhmOagjwRWJ2lhSDLw=);
background-size:cover;
background-repeat: no-repeat;

}